# Starting Spark Session

In [1]:
import os
import sys
import glob
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1"
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
from pyspark.sql import SparkSession,functions, Window
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType,BooleanType,DateType, LongType,  DoubleType, StringType
import pyspark.pandas as ps
import pandas as pd

# Creating a Spark Session called NewYorkCitySalesProperty

In [3]:
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("NewYorkCitySalesProperty") \
      .config("spark.some.config.option", "config-value") \
      .enableHiveSupport() \
      .getOrCreate()

In [4]:
spark

# Browsing .csv Bronx files

In [5]:
path = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx'

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print('\nFile names:', file)

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\03_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\04_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\05_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\06_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2007_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2008_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2009_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2010_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2011_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2012_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2013_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2014_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2015_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2016_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2017_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2018_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\2019_Bronx.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\Bronx20032019.csv

## Save all .csv file into one using pandas

In [6]:
# Navigate to the folder where your CSV files are 
os.chdir(r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx')

# Create an empty dataframe
df = pd.DataFrame([])

# Read all CSV files and append them to df
for root, dirs, files in os.walk("."):
   for name in files:
       df_temp = pd.read_csv(name)
       df = pd.concat([df,df_temp])

# Save df to a CSV file
df.to_csv('Bronx20032019.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,3,4,7,8,9,10,19,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Browsing .csv Brooklyn files

In [7]:
path = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn'

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print('\nFile names:', file)

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\03_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\04_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\05_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\06_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2007_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2008_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2009_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2010_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2011_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2012_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2013_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2014_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2015_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2016_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2017_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2018_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\2019_Brooklyn.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\Brooklyn20032019.csv

## Save all .csv file into one using pandas

In [8]:
# Navigate to the folder where your CSV files are 
os.chdir(r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn')

# Create an empty dataframe
df = pd.DataFrame([])

# Read all CSV files and append them to df
for root, dirs, files in os.walk("."):
   for name in files:
       df_temp = pd.read_csv(name)
       df = pd.concat([df,df_temp])

# Save df to a CSV file
df.to_csv('Brooklyn20032019.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# Browsing .csv Manhattan files

In [9]:
path = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan'

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print('\nFile names:', file)

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\03_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\04_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\05_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\06_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2007_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2008_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2009_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2010_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2011_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2012_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2013_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2014_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2015_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2016_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2017_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2018_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\2019_Manhattan.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\Manhattan20032019.csv

## Save all .csv file into one using pandas

In [10]:
# Navigate to the folder where your CSV files are 
os.chdir(r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan')

# Create an empty dataframe
df = pd.DataFrame([])

# Read all CSV files and append them to df
for root, dirs, files in os.walk("."):
   for name in files:
       df_temp = pd.read_csv(name)
       df = pd.concat([df,df_temp])

# Save df to a CSV file
df.to_csv('Manhattan20032019.csv')

# Browsing .csv Queens files

In [11]:
path = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens'

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print('\nFile names:', file)

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\03_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\04_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\05_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\06_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2007_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2008_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2009_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2010_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2011_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2012_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2013_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2014_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2015_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2016_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2017_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2018_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\2019_Queens.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\Queens20032019.csv

## Save all .csv file into one using pandas

In [12]:
# Navigate to the folder where your CSV files are 
os.chdir(r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens')

# Create an empty dataframe
df = pd.DataFrame([])

# Read all CSV files and append them to df
for root, dirs, files in os.walk("."):
   for name in files:
       df_temp = pd.read_csv(name)
       df = pd.concat([df,df_temp])

# Save df to a CSV file
df.to_csv('Queens20032019.csv')

# Browsing .csv StatensIsland files

In [13]:
path = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland'

filenames = glob.glob(path + '\*.csv')

for file in filenames:
    print('\nFile names:', file)

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\03_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\04_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\05_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\06_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2007_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2008_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2009_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2010_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2011_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2012_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2013_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2014_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2015_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2016_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2017_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2018_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\2019_StatenIsland.csv

File names: D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\StatenIsland20032019.csv

## Save all .csv file into one using pandas

In [14]:
# Navigate to the folder where your CSV files are 
os.chdir(r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland')

# Create an empty dataframe
df = pd.DataFrame([])

# Read all CSV files and append them to df
for root, dirs, files in os.walk("."):
   for name in files:
       df_temp = pd.read_csv(name)
       df = pd.concat([df,df_temp])

# Save df to a CSV file
df.to_csv('StatenIsland20032019.csv')

# Opening a  BuildingClassification .csv file

In [15]:
path = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\BuildingClassification.csv'

BuildingClassification = spark.read.options(header='True', inferSchema='True', delimiter=',') \
  .csv(path)

In [16]:
BuildingClassification.show(truncate=False)

+-------------+------------------------------------------+
|Building Code|Description                               |
+-------------+------------------------------------------+
|A0           |CAPE COD                                  |
|A1           |TWO STORIES - DETACHED SM OR MID          |
|A2           |ONE STORY - PERMANENT LIVING QUARTER      |
|A3           |LARGE SUBURBAN RESIDENCE                  |
|A4           |CITY RESIDENCE ONE FAMILY                 |
|A5           |ONE FAMILY ATTACHED OR SEMI-DETACHED      |
|A6           |SUMMER COTTAGE                            |
|A7           |MANSION TYPE OR TOWN HOUSE                |
|A8           |BUNGALOW COLONY - COOPERATIVELY OWNED LAND|
|A9           |MISCELLANEOUS ONE FAMILY                  |
|B1           |TWO FAMILY BRICK                          |
|B2           |TWO FAMILY FRAME                          |
|B3           |TWO FAMILY CONVERTED FROM ONE FAMILY      |
|B9           |MISCELLANEOUS TWO FAMILY                  |
|C0           |THREE FAMILIES                            |
|C1           |OVER SIX FAMILIES WITHOUT STORES          |
|C2           |FIVE TO SIX FAMILIES                      |
|C3           |FOUR FAMILIES                             |
|C4           |OLD LAW TENEMENT                          |
|C5           |CONVERTED DWELLINGS OR ROOMING HOUSE      |
+-------------+------------------------------------------+
only showing top 20 rows

# Reading csv files into Spark DataFrame

In [17]:
PathBronx = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Bronx\Bronx\Bronx20032019.csv'
PathBrook = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Brooklyn\Brooklyn\Brooklyn20032019.csv'
PathMan = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Manhattan\Manhattan\Manhattan20032019.csv'
PathQ = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\Queens\Queens\Queens20032019.csv'
PathS = r'D:\My commercial projects\PySpark\Project 3 PySpark\New York City Property Sales\StatenIsland\StatenIsland\StatenIsland20032019.csv'

In [18]:
dfBronx20032019 = spark.read.csv(PathBronx, header=True, inferSchema=True)
dfBrooklyn20032019 = spark.read.csv(PathBrook, header=True, inferSchema=True)
dfManhattan20032019 = spark.read.csv(PathMan, header=True, inferSchema=True)
dfQueens20032019 = spark.read.csv(PathQ, header=True, inferSchema=True)
dfStatenIsland20032019 = spark.read.csv(PathS, header=True, inferSchema=True)

# Browsing DataFrames and selecting columns

## dfBronx20032019

In [19]:
dfBronx20032019.show(10,10)

+---+-------+------------+-----------------------+--------------------+------+-----+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+--------------------------------+
|_c0|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block|  Lot|Ease-Ment|Building Class At Present|   Address|Apartment Number|Zip Code|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Tax Class At Time Of Sale|Building Class At Time Of Sale|Sale Price| Sale Date|Unnamed: 0|Unnamed: 0.1|Unnamed: 0.1.1|Unnamed: 0.1.1.1|Unnamed: 0.1.1.1.1|Unnamed: 0.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1.1.1|
+---+-------+------------+-----------------------+--------------------+------+-----+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+--------------------------------+
|  0|    2.0|  BATHGAT...|             01  ONE...|                   1|2917.0| 15.0|         |                       A1|1848 WA...|             ...| 10457.0|              1.0|             0.0|        1.0|          2943.0|           2128.0|    1920.0|                      1.0|                            A1|  130000.0|2003-05...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  1|    2.0|  BATHGAT...|             01  ONE...|                   1|3028.0| 25.0|         |                       A5|412 EAS...|             ...| 10457.0|              1.0|             0.0|        1.0|          1842.0|           2048.0|    1901.0|                      1.0|                            A1|  204000.0|2003-04...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  2|    2.0|  BATHGAT...|             01  ONE...|                   1|3030.0| 55.0|         |                       A5|410 EAS...|             ...| 10457.0|              1.0|             0.0|        1.0|          1330.0|           1460.0|    1899.0|                      1.0|                            A1|  235000.0|2003-07...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  3|    2.0|  BATHGAT...|             01  ONE...|                   1|3035.0|  2.0|         |                       S1|441 EAS...|             ...| 10457.0|              1.0|             1.0|        2.0|          1287.0|           2378.0|    1899.0|                      1.0|                            S1|  125500.0|2003-05...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  4|    2.0|  BATHGAT...|             01  ONE...|                   1|3035.0| 52.0|         |                       A1|461 EAS...|             ...| 10457.0|              1.0|             0.0|        1.0|          1782.0|           1548.0|    1899.0|                      1.0|                            A1|  215000.0|2003-05...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  5|    2.0|  BATHGAT...|             01  ONE...|                   1|3045.0| 15.0|         |                       A1|2058 BA...|             ...| 10457.0|              1.0|             0.0|        1.0|          1173.0|           1516.0|    1910.0|                      1.0|                            A1|       0.0|2003-07...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  6|    2.0|  BATHGAT...|             01  ONE...|                   1|3048.0| 19.0|         |                       A5|2186 BA...|             ...| 10457.0|              1.0|             0.0|        1.0|          1768.0|           1188.0|    1901.0|                      1.0|                            A1|  245000.0|2003-04...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  7|    2.0|  BATHGAT...|             01  ONE...|                   1|3050.0| 91.0|         |                       A9|503 EAS...|             ...| 10457.0|              1.0|             0.0|        1.0|          1960.0|           1705.0|    1901.0|                      1.0|                            A9|     500.0|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  8|    2.0|  BATHGAT...|             01  ONE...|                   1|3053.0| 87.0|         |                       S0|2368 WA...|             ...| 10458.0|              1.0|             2.0|        3.0|          1911.0|           4080.0|    1931.0|                      1.0|                            S0|  375000.0|2003-04...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
|  9|    2.0|  BATHGAT...|             01  ONE...|                   1|3053.0|108.0|         |                       A9|2317 BA...|             ...| 10458.0|              1.0|             0.0|        1.0|           925.0|           1188.0|    1901.0|                      1.0|                            A9|       0.0|2003-09...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|                            null|
+---+-------+------------+-----------------------+--------------------+------+-----+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+--------------------------------+
only showing top 10 rows

In [20]:
dfBronx20032019 = dfBronx20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
'Building Class At Present',
'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',                      
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',                      
 'Sale Price',
 'Sale Date' )

In [21]:
dfBronx20032019.show(10,10)

+-------+------------+-----------------------+--------------------+------+-----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block|  Lot|Building Class At Present|   Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price| Sale Date|
+-------+------------+-----------------------+--------------------+------+-----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|    2.0|  BATHGAT...|             01  ONE...|                   1|2917.0| 15.0|                       A1|1848 WA...|              1.0|             0.0|        1.0|          2943.0|           2128.0|    1920.0|  130000.0|2003-05...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3028.0| 25.0|                       A5|412 EAS...|              1.0|             0.0|        1.0|          1842.0|           2048.0|    1901.0|  204000.0|2003-04...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3030.0| 55.0|                       A5|410 EAS...|              1.0|             0.0|        1.0|          1330.0|           1460.0|    1899.0|  235000.0|2003-07...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3035.0|  2.0|                       S1|441 EAS...|              1.0|             1.0|        2.0|          1287.0|           2378.0|    1899.0|  125500.0|2003-05...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3035.0| 52.0|                       A1|461 EAS...|              1.0|             0.0|        1.0|          1782.0|           1548.0|    1899.0|  215000.0|2003-05...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3045.0| 15.0|                       A1|2058 BA...|              1.0|             0.0|        1.0|          1173.0|           1516.0|    1910.0|       0.0|2003-07...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3048.0| 19.0|                       A5|2186 BA...|              1.0|             0.0|        1.0|          1768.0|           1188.0|    1901.0|  245000.0|2003-04...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3050.0| 91.0|                       A9|503 EAS...|              1.0|             0.0|        1.0|          1960.0|           1705.0|    1901.0|     500.0|2003-06...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3053.0| 87.0|                       S0|2368 WA...|              1.0|             2.0|        3.0|          1911.0|           4080.0|    1931.0|  375000.0|2003-04...|
|    2.0|  BATHGAT...|             01  ONE...|                   1|3053.0|108.0|                       A9|2317 BA...|              1.0|             0.0|        1.0|           925.0|           1188.0|    1901.0|       0.0|2003-09...|
+-------+------------+-----------------------+--------------------+------+-----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
only showing top 10 rows

## dfBrooklyn20032019

In [22]:
dfBrooklyn20032019.show(10,10)

+---+-------+------------+-----------------------+--------------------+------+-----+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|_c0|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block|  Lot|Ease-Ment|Building Class At Present|   Address|Apartment Number|Zip Code|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Tax Class At Time Of Sale|Building Class At Time Of Sale|Sale Price| Sale Date|Unnamed: 0|Unnamed: 0.1|Unnamed: 0.1.1|Unnamed: 0.1.1.1|Unnamed: 0.1.1.1.1|Unnamed: 0.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1.1|
+---+-------+------------+-----------------------+--------------------+------+-----+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|  0|    3.0|  BATH BE...|             01  ONE...|                   1|6364.0| 45.0|         |                       S1|1652 86...|             ...| 11214.0|              1.0|             1.0|        2.0|          1200.0|           1620.0|    1926.0|                      1.0|                            S1|  450000.0|2003-01...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  1|    3.0|  BATH BE...|             01  ONE...|                   1|6365.0| 44.0|         |                       S1|1690 86...|             ...| 11214.0|              1.0|             1.0|        2.0|          1473.0|           1656.0|    1931.0|                      1.0|                            S1|       0.0|2003-10...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  2|    3.0|  BATH BE...|             01  ONE...|                   1|6365.0| 44.0|         |                       S1|1690 86...|             ...| 11214.0|              1.0|             1.0|        2.0|          1473.0|           1656.0|    1931.0|                      1.0|                            S1|       0.0|2003-04...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  3|    3.0|  BATH BE...|             01  ONE...|                   1|6365.0|143.0|         |                       S1|1686 86...|             ...| 11214.0|              1.0|             1.0|        2.0|          1473.0|           1656.0|    1929.0|                      1.0|                            S1|       0.0|2003-04...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  4|    3.0|  BATH BE...|             01  ONE...|                   1|6366.0| 72.0|         |                       A1|8664 BA...|             ...| 11214.0|              1.0|             0.0|        1.0|          4833.0|           2300.0|    1925.0|                      1.0|                            A1|       0.0|2003-09...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  5|    3.0|  BATH BE...|             01  ONE...|                   1|6367.0| 24.0|         |                       A9|8645 BA...|             ...| 11214.0|              1.0|             0.0|        1.0|          1571.0|           1456.0|    1935.0|                      1.0|                            A9|       0.0|2003-05...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  6|    3.0|  BATH BE...|             01  ONE...|                   1|6371.0| 60.0|         |                       A9|8620 19...|             ...| 11214.0|              1.0|             0.0|        1.0|          2417.0|           2106.0|    1930.0|                      1.0|                            A9|       0.0|2003-04...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  7|    3.0|  BATH BE...|             01  ONE...|                    |6376.0| 53.0|         |                         |20 BAY ...|             ...| 11214.0|              0.0|             0.0|        0.0|             0.0|              0.0|       0.0|                      1.0|                            A1|  570000.0|2003-01...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  8|    3.0|  BATH BE...|             01  ONE...|                   1|6393.0| 16.0|         |                       A5|145 BAY...|             ...| 11228.0|              1.0|             0.0|        1.0|          1716.0|           1554.0|    1920.0|                      1.0|                            A5|  320000.0|2003-02...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  9|    3.0|  BATH BE...|             01  ONE...|                   1|6395.0| 20.0|         |                       A5|135 BAY...|             ...| 11228.0|              1.0|             0.0|        1.0|          2417.0|           2000.0|    1935.0|                      1.0|                            A5|  427500.0|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
+---+-------+------------+-----------------------+--------------------+------+-----+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
only showing top 10 rows

In [23]:
dfBrooklyn20032019 = dfBrooklyn20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
'Building Class At Present',
'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',                      
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',                      
 'Sale Price',
 'Sale Date' )

In [24]:
dfBrooklyn20032019.show(10,10)

+-------+------------+-----------------------+--------------------+------+-----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block|  Lot|Building Class At Present|   Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price| Sale Date|
+-------+------------+-----------------------+--------------------+------+-----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|    3.0|  BATH BE...|             01  ONE...|                   1|6364.0| 45.0|                       S1|1652 86...|              1.0|             1.0|        2.0|          1200.0|           1620.0|    1926.0|  450000.0|2003-01...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6365.0| 44.0|                       S1|1690 86...|              1.0|             1.0|        2.0|          1473.0|           1656.0|    1931.0|       0.0|2003-10...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6365.0| 44.0|                       S1|1690 86...|              1.0|             1.0|        2.0|          1473.0|           1656.0|    1931.0|       0.0|2003-04...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6365.0|143.0|                       S1|1686 86...|              1.0|             1.0|        2.0|          1473.0|           1656.0|    1929.0|       0.0|2003-04...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6366.0| 72.0|                       A1|8664 BA...|              1.0|             0.0|        1.0|          4833.0|           2300.0|    1925.0|       0.0|2003-09...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6367.0| 24.0|                       A9|8645 BA...|              1.0|             0.0|        1.0|          1571.0|           1456.0|    1935.0|       0.0|2003-05...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6371.0| 60.0|                       A9|8620 19...|              1.0|             0.0|        1.0|          2417.0|           2106.0|    1930.0|       0.0|2003-04...|
|    3.0|  BATH BE...|             01  ONE...|                    |6376.0| 53.0|                         |20 BAY ...|              0.0|             0.0|        0.0|             0.0|              0.0|       0.0|  570000.0|2003-01...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6393.0| 16.0|                       A5|145 BAY...|              1.0|             0.0|        1.0|          1716.0|           1554.0|    1920.0|  320000.0|2003-02...|
|    3.0|  BATH BE...|             01  ONE...|                   1|6395.0| 20.0|                       A5|135 BAY...|              1.0|             0.0|        1.0|          2417.0|           2000.0|    1935.0|  427500.0|2003-06...|
+-------+------------+-----------------------+--------------------+------+-----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
only showing top 10 rows

## dfManhattan20032019

In [25]:
dfManhattan20032019.show(10,10)

+---+-------+------------+-----------------------+-------------------------------+-----+---+---------+------------------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|_c0|Borough|Neighborhood|Building Class Category|Tax Class As Of Final Roll 18/1|Block|Lot|Ease-Ment|Building Class As Of Final Roll 18/1|   Address|Apartment Number|Zip Code|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Tax Class At Time Of Sale|Building Class At Time Of Sale|Sale Price| Sale Date|Unnamed: 0|Unnamed: 0.1|Unnamed: 0.1.1|Unnamed: 0.1.1.1|Unnamed: 0.1.1.1.1|Unnamed: 0.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1.1|
+---+-------+------------+-----------------------+-------------------------------+-----+---+---------+------------------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|  0|      1|  ALPHABE...|             07  REN...|                             2A|  372| 31|         |                                  C3|316 EAS...|             ...|   10009|              4.0|             0.0|        4.0|          5746.0|           2700.0|    1900.0|                        2|                            C3|         0|2003-12...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  1|      1|  ALPHABE...|             07  REN...|                             2A|  372| 31|         |                                  C3|316 EAS...|             ...|   10009|              4.0|             0.0|        4.0|          5746.0|           2700.0|    1900.0|                        2|                            C3|         0|2003-12...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  2|      1|  ALPHABE...|             07  REN...|                             2B|  378| 33|         |                                  C4|125 AVE...|             ...|   10009|              6.0|             1.0|        7.0|          2185.0|           5725.0|    1910.0|                        2|                            C4|    426000|2003-10...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  3|      1|  ALPHABE...|             07  REN...|                              2|  391| 12|         |                                  C1|610 EAS...|             ...|   10009|             24.0|             0.0|       24.0|          2543.0|          11568.0|    1910.0|                        2|                            C1|         0|2003-02...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  4|      1|  ALPHABE...|             07  REN...|                             2A|  392|  5|         |                                  C2|151 AVE...|             ...|   10009|              5.0|             0.0|        5.0|          2139.0|           4416.0|    1900.0|                        2|                            C2|         0|2003-08...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  5|      1|  ALPHABE...|             07  REN...|                              2|  393| 26|         |                                  D5|636 EAS...|             ...|   10009|             63.0|             0.0|       63.0|          2369.0|          10355.0|    1880.0|                        2|                            C7|         0|2003-10...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  6|      1|  ALPHABE...|             07  REN...|                             2B|  393| 27|         |                                  C4|636 EAS...|             ...|   10009|              9.0|             1.0|       10.0|          2370.0|           6652.0|    1900.0|                        2|                            C4|         0|2003-10...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  7|      1|  ALPHABE...|             07  REN...|                             2B|  393| 36|         |                                  C7|165 AVE...|             ...|   10009|              8.0|             2.0|       10.0|          1909.0|           7437.0|    1920.0|                        2|                            C7|         3|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  8|      1|  ALPHABE...|             07  REN...|                             2B|  393| 37|         |                                  C7|165 AVE...|             ...|   10009|              8.0|             2.0|       10.0|          1920.0|           7485.0|    1920.0|                        2|                            C7|         3|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  9|      1|  ALPHABE...|             07  REN...|                             2B|  393| 38|         |                                  C7|165 AVE...|             ...|   10009|              8.0|             2.0|       10.0|          1916.0|           7485.0|    1920.0|                        2|                            C7|         3|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
+---+-------+------------+-----------------------+-------------------------------+-----+---+---------+------------------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
only showing top 10 rows

In [26]:
dfManhattan20032019 = dfManhattan20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Block',
 'Lot',
col('Building Class As Of Final Roll 18/1').alias("Building Class At Present"),
col('Tax Class As Of Final Roll 18/1').alias("Tax Class At Present"),
'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',                      
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',                      
 'Sale Price',
 'Sale Date' )

In [27]:
dfManhattan20032019.show(10,10)

+-------+------------+-----------------------+-----+---+-------------------------+--------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|Borough|Neighborhood|Building Class Category|Block|Lot|Building Class At Present|Tax Class At Present|   Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price| Sale Date|
+-------+------------+-----------------------+-----+---+-------------------------+--------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|      1|  ALPHABE...|             07  REN...|  372| 31|                       C3|                  2A|316 EAS...|              4.0|             0.0|        4.0|          5746.0|           2700.0|    1900.0|         0|2003-12...|
|      1|  ALPHABE...|             07  REN...|  372| 31|                       C3|                  2A|316 EAS...|              4.0|             0.0|        4.0|          5746.0|           2700.0|    1900.0|         0|2003-12...|
|      1|  ALPHABE...|             07  REN...|  378| 33|                       C4|                  2B|125 AVE...|              6.0|             1.0|        7.0|          2185.0|           5725.0|    1910.0|    426000|2003-10...|
|      1|  ALPHABE...|             07  REN...|  391| 12|                       C1|                   2|610 EAS...|             24.0|             0.0|       24.0|          2543.0|          11568.0|    1910.0|         0|2003-02...|
|      1|  ALPHABE...|             07  REN...|  392|  5|                       C2|                  2A|151 AVE...|              5.0|             0.0|        5.0|          2139.0|           4416.0|    1900.0|         0|2003-08...|
|      1|  ALPHABE...|             07  REN...|  393| 26|                       D5|                   2|636 EAS...|             63.0|             0.0|       63.0|          2369.0|          10355.0|    1880.0|         0|2003-10...|
|      1|  ALPHABE...|             07  REN...|  393| 27|                       C4|                  2B|636 EAS...|              9.0|             1.0|       10.0|          2370.0|           6652.0|    1900.0|         0|2003-10...|
|      1|  ALPHABE...|             07  REN...|  393| 36|                       C7|                  2B|165 AVE...|              8.0|             2.0|       10.0|          1909.0|           7437.0|    1920.0|         3|2003-06...|
|      1|  ALPHABE...|             07  REN...|  393| 37|                       C7|                  2B|165 AVE...|              8.0|             2.0|       10.0|          1920.0|           7485.0|    1920.0|         3|2003-06...|
|      1|  ALPHABE...|             07  REN...|  393| 38|                       C7|                  2B|165 AVE...|              8.0|             2.0|       10.0|          1916.0|           7485.0|    1920.0|         3|2003-06...|
+-------+------------+-----------------------+-----+---+-------------------------+--------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
only showing top 10 rows

## dfQueens20032019

In [28]:
dfQueens20032019.show(10,10)

+---+-------+------------+-----------------------+--------------------+-----+------+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|_c0|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|   Lot|Ease-Ment|Building Class At Present|   Address|Apartment Number|Zip Code|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Tax Class At Time Of Sale|Building Class At Time Of Sale|Sale Price| Sale Date|Unnamed: 0|Unnamed: 0.1|Unnamed: 0.1.1|Unnamed: 0.1.1.1|Unnamed: 0.1.1.1.1|Unnamed: 0.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1.1|
+---+-------+------------+-----------------------+--------------------+-----+------+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|  0|    4.0|  AIRPORT...|             01  ONE...|                   1|949.0|  47.0|         |                       A5|1974 81...|             ...| 11370.0|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1945.0|                      1.0|                            A5|  318000.0|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  1|    4.0|  AIRPORT...|             01  ONE...|                   1|949.0|  47.0|         |                       A5|1974 81...|             ...| 11370.0|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1945.0|                      1.0|                            A5|     100.0|2003-05...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  2|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  23.0|         |                       A5|2136 81...|             ...| 11370.0|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1950.0|                      1.0|                            A5|       0.0|2003-07...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  3|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  33.0|         |                       A5|2156 81...|             ...| 11370.0|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1950.0|                      1.0|                            A5|  370000.0|2003-10...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  4|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  60.0|         |                       A5|2123 80...|             ...| 11370.0|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1950.0|                      1.0|                            A5|       0.0|2003-12...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  5|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  67.0|         |                       A5|2109 80...|             ...| 11370.0|              1.0|             0.0|        1.0|          1800.0|           1836.0|    1950.0|                      1.0|                            A5|  450000.0|2003-06...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  6|    4.0|  AIRPORT...|             02  TWO...|                   1|976.0|   1.0|         |                       B1|2101 80...|             ...| 11370.0|              2.0|             0.0|        2.0|          2100.0|           2765.0|    1950.0|                      1.0|                            B1|       0.0|2003-12...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  7|    4.0|  AIRPORT...|             03  THR...|                   1|949.0|  56.0|         |                       C0|1969 80...|             ...| 11370.0|              3.0|             0.0|        3.0|          2000.0|           2835.0|    1945.0|                      1.0|                            C0|  605000.0|2003-12...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  8|    4.0|  AIRPORT...|             03  THR...|                   1|949.0|  58.0|         |                       C0|1965 80...|             ...| 11370.0|              3.0|             0.0|        3.0|          2000.0|           2635.0|    1945.0|                      1.0|                            C0|  510000.0|2003-01...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  9|    4.0|  AIRPORT...|             12  CON...|                   2|949.0|1006.0|         |                       R2|1939 80...|               2| 11370.0|              1.0|             0.0|        1.0|             0.0|              0.0|       0.0|                      2.0|                            R2|       0.0|2003-02...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
+---+-------+------------+-----------------------+--------------------+-----+------+---------+-------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
only showing top 10 rows

In [29]:
dfQueens20032019 = dfQueens20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
'Building Class At Present',
'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',                      
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',                      
 'Sale Price',
 'Sale Date' )

In [30]:
dfQueens20032019.show(10,10)

+-------+------------+-----------------------+--------------------+-----+------+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|   Lot|Building Class At Present|   Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price| Sale Date|
+-------+------------+-----------------------+--------------------+-----+------+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|    4.0|  AIRPORT...|             01  ONE...|                   1|949.0|  47.0|                       A5|1974 81...|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1945.0|  318000.0|2003-06...|
|    4.0|  AIRPORT...|             01  ONE...|                   1|949.0|  47.0|                       A5|1974 81...|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1945.0|     100.0|2003-05...|
|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  23.0|                       A5|2136 81...|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1950.0|       0.0|2003-07...|
|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  33.0|                       A5|2156 81...|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1950.0|  370000.0|2003-10...|
|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  60.0|                       A5|2123 80...|              1.0|             0.0|        1.0|          1800.0|           1224.0|    1950.0|       0.0|2003-12...|
|    4.0|  AIRPORT...|             01  ONE...|                   1|976.0|  67.0|                       A5|2109 80...|              1.0|             0.0|        1.0|          1800.0|           1836.0|    1950.0|  450000.0|2003-06...|
|    4.0|  AIRPORT...|             02  TWO...|                   1|976.0|   1.0|                       B1|2101 80...|              2.0|             0.0|        2.0|          2100.0|           2765.0|    1950.0|       0.0|2003-12...|
|    4.0|  AIRPORT...|             03  THR...|                   1|949.0|  56.0|                       C0|1969 80...|              3.0|             0.0|        3.0|          2000.0|           2835.0|    1945.0|  605000.0|2003-12...|
|    4.0|  AIRPORT...|             03  THR...|                   1|949.0|  58.0|                       C0|1965 80...|              3.0|             0.0|        3.0|          2000.0|           2635.0|    1945.0|  510000.0|2003-01...|
|    4.0|  AIRPORT...|             12  CON...|                   2|949.0|1006.0|                       R2|1939 80...|              1.0|             0.0|        1.0|             0.0|              0.0|       0.0|       0.0|2003-02...|
+-------+------------+-----------------------+--------------------+-----+------+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
only showing top 10 rows

## dfStatenIsland20032019

In [31]:
dfStatenIsland20032019.show(10,10)

+---+-------+------------+-----------------------+-------------------------------+------+----+---------+------------------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|_c0|Borough|Neighborhood|Building Class Category|Tax Class As Of Final Roll 18/1| Block| Lot|Ease-Ment|Building Class As Of Final Roll 18/1|   Address|Apartment Number|Zip Code|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Tax Class At Time Of Sale|Building Class At Time Of Sale|Sale Price| Sale Date|Unnamed: 0|Unnamed: 0.1|Unnamed: 0.1.1|Unnamed: 0.1.1.1|Unnamed: 0.1.1.1.1|Unnamed: 0.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1|Unnamed: 0.1.1.1.1.1.1.1.1.1.1|
+---+-------+------------+-----------------------+-------------------------------+------+----+---------+------------------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
|  0|    5.0|  ANNADAL...|             01  ONE...|                              1|5391.0| 8.0|         |                                  A5|4730 AM...|             ...| 10312.0|              1.0|             0.0|        1.0|          3149.0|           1110.0|    2002.0|                      1.0|                            A5|  353886.0|2003-01...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  1|    5.0|  ANNADAL...|             01  ONE...|                              1|5391.0|12.0|         |                                  A5|4718 AM...|             ...| 10312.0|              1.0|             0.0|        1.0|          1746.0|           1110.0|    2002.0|                      1.0|                            A5|  310000.0|2003-07...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  2|    5.0|  ANNADAL...|             01  ONE...|                              1|5391.0|13.0|         |                                  A5|4716 AM...|             ...| 10312.0|              1.0|             0.0|        1.0|          1871.0|           1110.0|    2002.0|                      1.0|                            A5|  299130.0|2003-09...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  3|    5.0|  ANNADAL...|             01  ONE...|                              1|5391.0|15.0|         |                                  A5|4714 AM...|             ...| 10312.0|              1.0|             0.0|        1.0|          4678.0|           1110.0|    2002.0|                      1.0|                            A5|  304099.0|2003-09...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  4|    5.0|  ANNADAL...|             01  ONE...|                              1|5395.0|15.0|         |                                  A1|10 EDWI...|             ...| 10312.0|              1.0|             0.0|        1.0|          7000.0|           2200.0|    1980.0|                      1.0|                            A1|       0.0|2003-09...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  5|    5.0|  ANNADAL...|             01  ONE...|                              1|5400.0|20.0|         |                                  A1|5 JANSE...|             ...| 10312.0|              1.0|             0.0|        1.0|         10000.0|           3344.0|    1980.0|                      1.0|                            A1|  795000.0|2003-05...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  6|    5.0|  ANNADAL...|             01  ONE...|                              1|5403.0|33.0|         |                                  A1|91 NOEL...|             ...| 10312.0|              1.0|             0.0|        1.0|          7500.0|           6500.0|    2002.0|                      1.0|                            A1|       0.0|2003-01...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  7|    5.0|  ANNADAL...|             01  ONE...|                              1|5404.0|18.0|         |                                  A2|1610 LE...|             ...| 10312.0|              1.0|             0.0|        1.0|          7500.0|           2128.0|    1970.0|                      1.0|                            A2|  625000.0|2003-02...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  8|    5.0|  ANNADAL...|             01  ONE...|                              1|5406.0|35.0|         |                                  A1|103 ELM...|             ...| 10312.0|              1.0|             0.0|        1.0|          2500.0|           1700.0|    1999.0|                      1.0|                            A1|       0.0|2003-09...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
|  9|    5.0|  ANNADAL...|             01  ONE...|                              1|5407.0|36.0|         |                                  A1|183 BAT...|             ...| 10312.0|              1.0|             0.0|        1.0|          3700.0|           4400.0|    2004.0|                      1.0|                            A1|  352000.0|2003-01...|      null|        null|          null|            null|              null|                null|                  null|                    null|                      null|                        null|                          null|
+---+-------+------------+-----------------------+-------------------------------+------+----+---------+------------------------------------+----------+----------------+--------+-----------------+----------------+-----------+----------------+-----------------+----------+-------------------------+------------------------------+----------+----------+----------+------------+--------------+----------------+------------------+--------------------+----------------------+------------------------+--------------------------+----------------------------+------------------------------+
only showing top 10 rows

In [32]:
dfStatenIsland20032019 = dfStatenIsland20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
col('Tax Class As Of Final Roll 18/1').alias("Tax Class At Present"),
 'Block',
 'Lot',
col('Building Class As Of Final Roll 18/1').alias("Building Class At Present"),
'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',                      
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',                      
 'Sale Price',
 'Sale Date' )

In [33]:
dfStatenIsland20032019.show(10,10)

+-------+------------+-----------------------+--------------------+------+----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block| Lot|Building Class At Present|   Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price| Sale Date|
+-------+------------+-----------------------+--------------------+------+----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
|    5.0|  ANNADAL...|             01  ONE...|                   1|5391.0| 8.0|                       A5|4730 AM...|              1.0|             0.0|        1.0|          3149.0|           1110.0|    2002.0|  353886.0|2003-01...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5391.0|12.0|                       A5|4718 AM...|              1.0|             0.0|        1.0|          1746.0|           1110.0|    2002.0|  310000.0|2003-07...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5391.0|13.0|                       A5|4716 AM...|              1.0|             0.0|        1.0|          1871.0|           1110.0|    2002.0|  299130.0|2003-09...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5391.0|15.0|                       A5|4714 AM...|              1.0|             0.0|        1.0|          4678.0|           1110.0|    2002.0|  304099.0|2003-09...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5395.0|15.0|                       A1|10 EDWI...|              1.0|             0.0|        1.0|          7000.0|           2200.0|    1980.0|       0.0|2003-09...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5400.0|20.0|                       A1|5 JANSE...|              1.0|             0.0|        1.0|         10000.0|           3344.0|    1980.0|  795000.0|2003-05...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5403.0|33.0|                       A1|91 NOEL...|              1.0|             0.0|        1.0|          7500.0|           6500.0|    2002.0|       0.0|2003-01...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5404.0|18.0|                       A2|1610 LE...|              1.0|             0.0|        1.0|          7500.0|           2128.0|    1970.0|  625000.0|2003-02...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5406.0|35.0|                       A1|103 ELM...|              1.0|             0.0|        1.0|          2500.0|           1700.0|    1999.0|       0.0|2003-09...|
|    5.0|  ANNADAL...|             01  ONE...|                   1|5407.0|36.0|                       A1|183 BAT...|              1.0|             0.0|        1.0|          3700.0|           4400.0|    2004.0|  352000.0|2003-01...|
+-------+------------+-----------------------+--------------------+------+----+-------------------------+----------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+----------+
only showing top 10 rows

# Exploratory Data Analysis PySpark DataFrame

## Data Cleaning

### dfBronx20032019

#### Looking for null values

In [34]:
dfBronx20032019null = dfBronx20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [35]:
dfBronx20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfBronx20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+------+------+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block|   Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+------+------+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
| 176917|      176917|                 176917|              176917|176917|176917|                   176917| 176917|           199303|          199303|     199303|          199316|           199303|    186836|    176917|
+-------+------------+-----------------------+--------------------+------+------+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dropping null values

In [36]:
dfBronx20032019 = dfBronx20032019.na.drop()

#### Checking once again:

In [37]:
dfBronx20032019null = dfBronx20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [38]:
dfBronx20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfBronx20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|      0|           0|                      0|                   0|    0|  0|                        0|      0|                0|               0|          0|               0|                0|         0|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dealing with duplicates

In [39]:
print("Counting rows {}".format(dfBronx20032019.count()))

Counting rows 1674933

In [40]:
print("Counting distinct rows {}".format(dfBronx20032019.distinct().count()))

Counting distinct rows 127401

In [41]:
dfBronx20032019 = dfBronx20032019.dropDuplicates()

In [42]:
print("There are {} rows after removing duplicates".format(dfBronx20032019.count()))

There are 127401 rows after removing duplicates

#### Columns

In [43]:
print("There are {} columns in the DataFrame and their names are\n {}".format(len(dfBronx20032019.columns),
                                                                              dfBronx20032019.columns))

There are 16 columns in the DataFrame and their names are
 ['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class At Present', 'Block', 'Lot', 'Building Class At Present', 'Address', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Sale Price', 'Sale Date']

#### Changing datatypes

In [44]:
dfBronx20032019.printSchema()

root
 |-- Borough: double (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: double (nullable = true)
 |-- Lot: double (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: double (nullable = true)
 |-- Commercial Units: double (nullable = true)
 |-- Total Units: double (nullable = true)
 |-- Land Square Feet: double (nullable = true)
 |-- Gross Square Feet: double (nullable = true)
 |-- Year Built: double (nullable = true)
 |-- Sale Price: double (nullable = true)
 |-- Sale Date: timestamp (nullable = true)

In [45]:
dfBronx20032019 = dfBronx20032019.withColumn("Borough", col("Borough").cast("int")) \
                 .withColumn("Block" , col("Block").cast("int")) \
                 .withColumn("Lot" , col("Lot").cast("int")) \
                 .withColumn("Lot" , col("Borough").cast("int")) \
                 .withColumn("Residential Units" , col("Residential Units").cast("int")) \
                 .withColumn("Commercial Units" , col("Commercial Units").cast("int")) \
                 .withColumn("Total Units" , col("Total Units").cast("int")) \
                 .withColumn("Land Square Feet" , col("Land Square Feet").cast("int")) \
                 .withColumn("Gross Square Feet" , col("Gross Square Feet").cast("int")) \
                 .withColumn("Year Built" , col("Year Built").cast("int")) \
                 .withColumn("Sale Price" , col("Sale Price").cast("int")) \
                 .withColumn("Sale Date" , col("Sale Date").cast(DateType()))

In [46]:
dfBronx20032019.printSchema()

root
 |-- Borough: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: integer (nullable = true)
 |-- Lot: integer (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: integer (nullable = true)
 |-- Commercial Units: integer (nullable = true)
 |-- Total Units: integer (nullable = true)
 |-- Land Square Feet: integer (nullable = true)
 |-- Gross Square Feet: integer (nullable = true)
 |-- Year Built: integer (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Sale Date: date (nullable = true)

#### Changing numeric values Borough to a name

In [47]:
dfBronx20032019 = dfBronx20032019.withColumn("Borough", when(col("Borough") == 2,lit("Bronx")).otherwise(lit("Bronx")))

In [48]:
dfBronx20032019.select("Borough").distinct().show()

+-------+
|Borough|
+-------+
|  Bronx|
+-------+

#### Summary

In [49]:
dfBronx20032019.describe("Block").show()

+-------+------------------+
|summary|             Block|
+-------+------------------+
|  count|            127401|
|   mean|   4148.3136239119|
| stddev|1048.0006613883152|
|    min|              2260|
|    max|              5958|
+-------+------------------+

In [50]:
dfBronx20032019.describe("Lot").show()

+-------+------+
|summary|   Lot|
+-------+------+
|  count|127401|
|   mean|   2.0|
| stddev|   0.0|
|    min|     2|
|    max|     2|
+-------+------+

In [51]:
dfBronx20032019.describe("Residential Units").show()

+-------+-----------------+
|summary|Residential Units|
+-------+-----------------+
|  count|           127401|
|   mean| 4.03886939662954|
| stddev|47.51316957967174|
|    min|                0|
|    max|            13480|
+-------+-----------------+

In [52]:
dfBronx20032019.describe("Commercial Units").show()

+-------+-------------------+
|summary|   Commercial Units|
+-------+-------------------+
|  count|             127401|
|   mean|0.22007676548849694|
| stddev| 3.3270636207226616|
|    min|                  0|
|    max|                252|
+-------+-------------------+

In [53]:
dfBronx20032019.describe("Total Units").show()

+-------+-----------------+
|summary|      Total Units|
+-------+-----------------+
|  count|           127401|
|   mean|4.261104700905016|
| stddev|47.70597787054591|
|    min|                0|
|    max|            13495|
+-------+-----------------+

In [54]:
dfBronx20032019.describe("Land Square Feet").show()

+-------+-----------------+
|summary| Land Square Feet|
+-------+-----------------+
|  count|           127401|
|   mean|5075.459093727679|
| stddev|99866.84182361943|
|    min|                0|
|    max|         19850400|
+-------+-----------------+

In [55]:
dfBronx20032019.describe("Gross Square Feet").show()

+-------+-----------------+
|summary|Gross Square Feet|
+-------+-----------------+
|  count|           127401|
|   mean|5012.748369322062|
| stddev|28193.71056863976|
|    min|                0|
|    max|          1743584|
+-------+-----------------+

In [56]:
dfBronx20032019.describe("Total Units").show()

+-------+-----------------+
|summary|      Total Units|
+-------+-----------------+
|  count|           127401|
|   mean|4.261104700905016|
| stddev|47.70597787054591|
|    min|                0|
|    max|            13495|
+-------+-----------------+

In [57]:
dfBronx20032019.describe("Sale Price").show()

+-------+-----------------+
|summary|       Sale Price|
+-------+-----------------+
|  count|           127401|
|   mean|466189.4170218444|
| stddev|2140451.887582929|
|    min|                0|
|    max|        137298279|
+-------+-----------------+

In [58]:
dfBronx20032019.dtypes

[('Borough', 'string'),
 ('Neighborhood', 'string'),
 ('Building Class Category', 'string'),
 ('Tax Class At Present', 'string'),
 ('Block', 'int'),
 ('Lot', 'int'),
 ('Building Class At Present', 'string'),
 ('Address', 'string'),
 ('Residential Units', 'int'),
 ('Commercial Units', 'int'),
 ('Total Units', 'int'),
 ('Land Square Feet', 'int'),
 ('Gross Square Feet', 'int'),
 ('Year Built', 'int'),
 ('Sale Price', 'int'),
 ('Sale Date', 'date')]

In [59]:
print('Shape of DataFrame:', (dfBronx20032019.count(), len(dfBronx20032019.columns)))

Shape of DataFrame: (127401, 16)

### dfBronx20032019

#### Looking for null values

In [60]:
dfBrooklyn20032019null = dfBrooklyn20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [61]:
dfBrooklyn20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfBrooklyn20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+----+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block| Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+----+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|   4668|        4668|                   4668|                5040| 4668|4668|                     5040|   4668|            36468|           36468|      36468|           36468|            36468|     23892|      4668|
+-------+------------+-----------------------+--------------------+-----+----+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dropping null values

In [62]:
dfBrooklyn20032019 = dfBrooklyn20032019.na.drop()

#### Checking once again

In [63]:
dfBrooklyn20032019null = dfBrooklyn20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [64]:
dfBrooklyn20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfBrooklyn20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|      0|           0|                      0|                   0|    0|  0|                        0|      0|                0|               0|          0|               0|                0|         0|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dealing with duplicates

In [65]:
print("Counting rows {}".format(dfBrooklyn20032019.count()))

Counting rows 5280048

In [66]:
print("Counting distinct row {}".format(dfBrooklyn20032019.distinct().count()))

Counting distinct row 433925

In [67]:
dfBrooklyn20032019 = dfBrooklyn20032019.dropDuplicates()

In [68]:
print("There are {} rows after removing duplicates".format(dfBrooklyn20032019.count()))

There are 433925 rows after removing duplicates

#### Columns

In [69]:
print("There are {} columns in the DataFrame and their names are\n {}".format(len(dfBrooklyn20032019.columns),
                                                                             dfBrooklyn20032019.columns))

There are 16 columns in the DataFrame and their names are
 ['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class At Present', 'Block', 'Lot', 'Building Class At Present', 'Address', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Sale Price', 'Sale Date']

#### Changing datatypes

In [70]:
dfBrooklyn20032019.printSchema()

root
 |-- Borough: double (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: double (nullable = true)
 |-- Lot: double (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: double (nullable = true)
 |-- Commercial Units: double (nullable = true)
 |-- Total Units: double (nullable = true)
 |-- Land Square Feet: double (nullable = true)
 |-- Gross Square Feet: double (nullable = true)
 |-- Year Built: double (nullable = true)
 |-- Sale Price: double (nullable = true)
 |-- Sale Date: timestamp (nullable = true)

In [71]:
dfBrooklyn20032019 = dfBrooklyn20032019.withColumn("Borough", col("Borough").cast("int")) \
                 .withColumn("Block" , col("Block").cast("int")) \
                 .withColumn("Lot" , col("Lot").cast("int")) \
                 .withColumn("Lot" , col("Borough").cast("int")) \
                 .withColumn("Residential Units" , col("Residential Units").cast("int")) \
                 .withColumn("Commercial Units" , col("Commercial Units").cast("int")) \
                 .withColumn("Total Units" , col("Total Units").cast("int")) \
                 .withColumn("Land Square Feet" , col("Land Square Feet").cast("int")) \
                 .withColumn("Gross Square Feet" , col("Gross Square Feet").cast("int")) \
                 .withColumn("Year Built" , col("Year Built").cast("int")) \
                 .withColumn("Sale Price" , col("Sale Price").cast("int")) \
                 .withColumn("Sale Date" , col("Sale Date").cast(DateType()))

In [72]:
dfBrooklyn20032019.printSchema()

root
 |-- Borough: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: integer (nullable = true)
 |-- Lot: integer (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: integer (nullable = true)
 |-- Commercial Units: integer (nullable = true)
 |-- Total Units: integer (nullable = true)
 |-- Land Square Feet: integer (nullable = true)
 |-- Gross Square Feet: integer (nullable = true)
 |-- Year Built: integer (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Sale Date: date (nullable = true)

#### Changing numeric values Borough to a name

In [73]:
dfBrooklyn20032019 = dfBrooklyn20032019.withColumn("Borough", when(col("Borough") == 3, 
                                                                   lit("Brooklyn")).otherwise(lit("Brooklyn")))

In [74]:
dfBrooklyn20032019.select("Borough").distinct().show()

+--------+
| Borough|
+--------+
|Brooklyn|
+--------+

#### Summary

In [75]:
dfBrooklyn20032019.describe("Block").show()

+-------+-----------------+
|summary|            Block|
+-------+-----------------+
|  count|           433925|
|   mean|4293.120359509132|
| stddev|2642.119312135123|
|    min|                1|
|    max|             8955|
+-------+-----------------+

In [76]:
dfBrooklyn20032019.describe("Lot").show()

+-------+------+
|summary|   Lot|
+-------+------+
|  count|433925|
|   mean|   3.0|
| stddev|   0.0|
|    min|     3|
|    max|     3|
+-------+------+

In [77]:
dfBrooklyn20032019.describe("Residential Units").show()

+-------+-----------------+
|summary|Residential Units|
+-------+-----------------+
|  count|           433925|
|   mean| 2.47843982254998|
| stddev|46.13016124305764|
|    min|                0|
|    max|            20811|
+-------+-----------------+

In [78]:
dfBrooklyn20032019.describe("Commercial Units").show()

+-------+------------------+
|summary|  Commercial Units|
+-------+------------------+
|  count|            433925|
|   mean|0.1794688022123639|
| stddev|1.8504464046685638|
|    min|                 0|
|    max|               530|
+-------+------------------+

In [79]:
dfBrooklyn20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            433925|
|   mean|2.6718326899809877|
| stddev| 46.17509721408382|
|    min|                 0|
|    max|             20811|
+-------+------------------+

In [80]:
dfBrooklyn20032019.describe("Land Square Feet").show()

+-------+-----------------+
|summary| Land Square Feet|
+-------+-----------------+
|  count|           433925|
|   mean|2448.894719133491|
| stddev|24367.85743694874|
|    min|                0|
|    max|          7446955|
+-------+-----------------+

In [81]:
dfBrooklyn20032019.describe("Gross Square Feet").show()

+-------+------------------+
|summary| Gross Square Feet|
+-------+------------------+
|  count|            433925|
|   mean| 2982.730299014807|
| stddev|15399.328397339188|
|    min|                 0|
|    max|           2548000|
+-------+------------------+

In [82]:
dfBrooklyn20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            433925|
|   mean|2.6718326899809877|
| stddev| 46.17509721408382|
|    min|                 0|
|    max|             20811|
+-------+------------------+

In [83]:
dfBrooklyn20032019.describe("Sale Price").show()

+-------+-----------------+
|summary|       Sale Price|
+-------+-----------------+
|  count|           433925|
|   mean|550014.1549599585|
| stddev|2895213.247922262|
|    min|                0|
|    max|        869612895|
+-------+-----------------+

In [84]:
dfBrooklyn20032019.dtypes

[('Borough', 'string'),
 ('Neighborhood', 'string'),
 ('Building Class Category', 'string'),
 ('Tax Class At Present', 'string'),
 ('Block', 'int'),
 ('Lot', 'int'),
 ('Building Class At Present', 'string'),
 ('Address', 'string'),
 ('Residential Units', 'int'),
 ('Commercial Units', 'int'),
 ('Total Units', 'int'),
 ('Land Square Feet', 'int'),
 ('Gross Square Feet', 'int'),
 ('Year Built', 'int'),
 ('Sale Price', 'int'),
 ('Sale Date', 'date')]

In [85]:
print('Shape of DataFrame: ', (dfBrooklyn20032019.count(), len(dfBrooklyn20032019.columns)))

Shape of DataFrame:  (433925, 16)

### dfManhattan20032019

#### Looking for null values

In [86]:
dfManhattan20032019null = dfManhattan20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [87]:
dfManhattan20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfManhattan20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|      0|           0|                      0|                2112|    0|  0|                     2112|      0|            93264|           93264|      93264|           93264|            93264|     24612|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dropping null values

In [88]:
dfManhattan20032019 = dfManhattan20032019.na.drop()

#### Checking once again:

In [89]:
dfManhattan20032019null = dfManhattan20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [90]:
dfManhattan20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfManhattan20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|      0|           0|                      0|                   0|    0|  0|                        0|      0|                0|               0|          0|               0|                0|         0|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dealing with duplicates

In [91]:
print("Counting rows {}".format(dfManhattan20032019.count()))

Counting rows 4568916

In [92]:
print("Counting distinct row {}".format(dfManhattan20032019.distinct().count()))

Counting distinct row 364538

In [93]:
dfManhattan20032019 = dfManhattan20032019.dropDuplicates()

In [94]:
print("There are {} rows after removing duplicates".format(dfManhattan20032019.count()))

There are 364538 rows after removing duplicates

#### Columns

In [95]:
print("There are {} columns in the DataFrame and their names\n {}".format(len(dfManhattan20032019.columns),
                                                                         dfManhattan20032019.columns))

There are 16 columns in the DataFrame and their names
 ['Borough', 'Neighborhood', 'Building Class Category', 'Block', 'Lot', 'Building Class At Present', 'Tax Class At Present', 'Address', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Sale Price', 'Sale Date']

#### Changing datatypes

In [96]:
dfManhattan20032019.printSchema()

root
 |-- Borough: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Block: integer (nullable = true)
 |-- Lot: integer (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: double (nullable = true)
 |-- Commercial Units: double (nullable = true)
 |-- Total Units: double (nullable = true)
 |-- Land Square Feet: double (nullable = true)
 |-- Gross Square Feet: double (nullable = true)
 |-- Year Built: double (nullable = true)
 |-- Sale Price: long (nullable = true)
 |-- Sale Date: timestamp (nullable = true)

In [97]:
dfManhattan20032019 = dfManhattan20032019.withColumn("Borough", col("Borough").cast("int")) \
                 .withColumn("Block" , col("Block").cast("int")) \
                 .withColumn("Lot" , col("Lot").cast("int")) \
                 .withColumn("Lot" , col("Borough").cast("int")) \
                 .withColumn("Residential Units" , col("Residential Units").cast("int")) \
                 .withColumn("Commercial Units" , col("Commercial Units").cast("int")) \
                 .withColumn("Total Units" , col("Total Units").cast("int")) \
                 .withColumn("Land Square Feet" , col("Land Square Feet").cast("int")) \
                 .withColumn("Gross Square Feet" , col("Gross Square Feet").cast("int")) \
                 .withColumn("Year Built" , col("Year Built").cast("int")) \
                 .withColumn("Sale Price" , col("Sale Price").cast("int")) \
                 .withColumn("Sale Date" , col("Sale Date").cast(DateType()))

In [98]:
dfManhattan20032019.printSchema()

root
 |-- Borough: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Block: integer (nullable = true)
 |-- Lot: integer (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: integer (nullable = true)
 |-- Commercial Units: integer (nullable = true)
 |-- Total Units: integer (nullable = true)
 |-- Land Square Feet: integer (nullable = true)
 |-- Gross Square Feet: integer (nullable = true)
 |-- Year Built: integer (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Sale Date: date (nullable = true)

#### Changing numeric values Borough to a name

In [99]:
dfManhattan20032019 = dfManhattan20032019.withColumn("Borough", when(col("Borough") == 1, 
                                                                     lit("Manhattan")).otherwise(lit("Manhattan")))

In [100]:
dfManhattan20032019.select("Borough").distinct().show()

+---------+
|  Borough|
+---------+
|Manhattan|
+---------+

#### Summary

In [101]:
dfManhattan20032019.describe("Block").show()

+-------+-----------------+
|summary|            Block|
+-------+-----------------+
|  count|           364538|
|   mean|1118.187308319023|
| stddev|496.5726571797877|
|    min|                1|
|    max|             2255|
+-------+-----------------+

In [102]:
dfManhattan20032019.describe("Lot").show()

+-------+------+
|summary|   Lot|
+-------+------+
|  count|364538|
|   mean|   1.0|
| stddev|   0.0|
|    min|     1|
|    max|     1|
+-------+------+

In [103]:
dfManhattan20032019.describe("Residential Units").show()

+-------+------------------+
|summary| Residential Units|
+-------+------------------+
|  count|            364538|
|   mean|2.2704628872710115|
| stddev| 35.83739960357781|
|    min|                 0|
|    max|              8759|
+-------+------------------+

In [104]:
dfManhattan20032019.describe("Commercial Units").show()

+-------+------------------+
|summary|  Commercial Units|
+-------+------------------+
|  count|            364538|
|   mean|0.4465899302679007|
| stddev|   8.3105593641138|
|    min|                 0|
|    max|              2000|
+-------+------------------+

In [105]:
dfManhattan20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            364538|
|   mean| 2.763382692613664|
| stddev|37.082887402419026|
|    min|                 0|
|    max|              8805|
+-------+------------------+

In [106]:
dfManhattan20032019.describe("Land Square Feet").show()

+-------+-----------------+
|summary| Land Square Feet|
+-------+-----------------+
|  count|           364538|
|   mean|1120.182598247645|
| stddev|34416.66129646318|
|    min|                0|
|    max|         11320000|
+-------+-----------------+

In [107]:
dfManhattan20032019.describe("Gross Square Feet").show()

+-------+-----------------+
|summary|Gross Square Feet|
+-------+-----------------+
|  count|           364538|
|   mean|7074.273540755697|
| stddev|64440.18417244116|
|    min|                0|
|    max|          8942176|
+-------+-----------------+

In [108]:
dfManhattan20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            364538|
|   mean| 2.763382692613664|
| stddev|37.082887402419026|
|    min|                 0|
|    max|              8805|
+-------+------------------+

In [109]:
dfManhattan20032019.describe("Sale Price").show()

+-------+--------------------+
|summary|          Sale Price|
+-------+--------------------+
|  count|              364538|
|   mean|  2078114.6258579353|
| stddev|2.0466949339807622E7|
|    min|         -2139967296|
|    max|          2100000000|
+-------+--------------------+

In [110]:
dfManhattan20032019.dtypes

[('Borough', 'string'),
 ('Neighborhood', 'string'),
 ('Building Class Category', 'string'),
 ('Block', 'int'),
 ('Lot', 'int'),
 ('Building Class At Present', 'string'),
 ('Tax Class At Present', 'string'),
 ('Address', 'string'),
 ('Residential Units', 'int'),
 ('Commercial Units', 'int'),
 ('Total Units', 'int'),
 ('Land Square Feet', 'int'),
 ('Gross Square Feet', 'int'),
 ('Year Built', 'int'),
 ('Sale Price', 'int'),
 ('Sale Date', 'date')]

In [111]:
print("Shape of DataFrame: ", (dfManhattan20032019.count(), len(dfManhattan20032019.columns)))

Shape of DataFrame:  (364538, 16)

### dfQueens20032019

#### Looking for null values

In [112]:
dfQueens20032019null = dfQueens20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [113]:
dfQueens20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfQueens20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|    204|         204|                    204|                 636|  204|204|                      636|    204|            60084|           60084|      60084|           60084|            60084|     13344|       204|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dropping null values

In [114]:
dfQueens20032019 = dfQueens20032019.na.drop()

#### Checking once again

In [115]:
dfQueens20032019null = dfQueens20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [116]:
dfQueens20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfQueens20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|      0|           0|                      0|                   0|    0|  0|                        0|      0|                0|               0|          0|               0|                0|         0|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dealing with duplicates

In [117]:
print("Counting rows {}".format(dfQueens20032019.count()))

Counting rows 5814528

In [118]:
print("Counting distinct rows {}".format(dfQueens20032019.distinct().count()))

Counting distinct rows 481002

In [119]:
dfQueens20032019 = dfQueens20032019.dropDuplicates()

In [120]:
print("There are {} rows after removing duplicates".format(dfQueens20032019.count()))

There are 481002 rows after removing duplicates

#### Columns

In [121]:
print("There are {} columns in the DataFrame and their names\n {}".format(len(dfQueens20032019.columns),
                                                                         dfQueens20032019.columns))

There are 16 columns in the DataFrame and their names
 ['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class At Present', 'Block', 'Lot', 'Building Class At Present', 'Address', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Sale Price', 'Sale Date']

#### Changing datatypes

In [122]:
dfQueens20032019.printSchema()

root
 |-- Borough: double (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: double (nullable = true)
 |-- Lot: double (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: double (nullable = true)
 |-- Commercial Units: double (nullable = true)
 |-- Total Units: double (nullable = true)
 |-- Land Square Feet: double (nullable = true)
 |-- Gross Square Feet: double (nullable = true)
 |-- Year Built: double (nullable = true)
 |-- Sale Price: double (nullable = true)
 |-- Sale Date: timestamp (nullable = true)

In [123]:
dfQueens20032019 = dfQueens20032019.withColumn("Borough", col("Borough").cast("int")) \
                 .withColumn("Block" , col("Block").cast("int")) \
                 .withColumn("Lot" , col("Lot").cast("int")) \
                 .withColumn("Lot" , col("Borough").cast("int")) \
                 .withColumn("Residential Units" , col("Residential Units").cast("int")) \
                 .withColumn("Commercial Units" , col("Commercial Units").cast("int")) \
                 .withColumn("Total Units" , col("Total Units").cast("int")) \
                 .withColumn("Land Square Feet" , col("Land Square Feet").cast("int")) \
                 .withColumn("Gross Square Feet" , col("Gross Square Feet").cast("int")) \
                 .withColumn("Year Built" , col("Year Built").cast("int")) \
                 .withColumn("Sale Price" , col("Sale Price").cast("int")) \
                 .withColumn("Sale Date" , col("Sale Date").cast(DateType()))

#### Changing numeric values Borough to a name

In [124]:
dfQueens20032019 = dfQueens20032019.withColumn("Borough", when(col("Borough") == 4,
                                                              lit("Queens")).otherwise(lit("Queens")))

In [125]:
dfQueens20032019.select("Borough").distinct().show()

+-------+
|Borough|
+-------+
| Queens|
+-------+

#### Summary

In [126]:
dfQueens20032019.describe("Block").show()

+-------+-----------------+
|summary|            Block|
+-------+-----------------+
|  count|           481002|
|   mean| 6836.67719468942|
| stddev|4451.430980746506|
|    min|                1|
|    max|            16350|
+-------+-----------------+

In [127]:
dfQueens20032019.describe("Lot").show()

+-------+--------------------+
|summary|                 Lot|
+-------+--------------------+
|  count|              481002|
|   mean|                 4.0|
| stddev|1.235689464331294...|
|    min|                   4|
|    max|                   4|
+-------+--------------------+

In [128]:
dfQueens20032019.describe("Residential Units").show()

+-------+------------------+
|summary| Residential Units|
+-------+------------------+
|  count|            481002|
|   mean| 1.776928162460863|
| stddev|13.658818956641625|
|    min|                 0|
|    max|              1885|
+-------+------------------+

In [129]:
dfQueens20032019.describe("Commercial Units").show()

+-------+-------------------+
|summary|   Commercial Units|
+-------+-------------------+
|  count|             481002|
|   mean|0.15417191612508888|
| stddev|  7.100237713779982|
|    min|                  0|
|    max|               2261|
+-------+-------------------+

In [130]:
dfQueens20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            481002|
|   mean| 1.945869247944915|
| stddev|15.479591955534831|
|    min|                 0|
|    max|              2261|
+-------+------------------+

In [131]:
dfQueens20032019.describe("Land Square Feet").show()

+-------+-----------------+
|summary| Land Square Feet|
+-------+-----------------+
|  count|           481002|
|   mean|4811.879536883423|
| stddev|541989.6758491128|
|    min|                0|
|    max|        214755710|
+-------+-----------------+

In [132]:
dfQueens20032019.describe("Gross Square Feet").show()

+-------+-----------------+
|summary|Gross Square Feet|
+-------+-----------------+
|  count|           481002|
|   mean|2376.891455752783|
| stddev|41921.97236592277|
|    min|                0|
|    max|         14962152|
+-------+-----------------+

In [133]:
dfQueens20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            481002|
|   mean| 1.945869247944915|
| stddev|15.479591955534831|
|    min|                 0|
|    max|              2261|
+-------+------------------+

In [134]:
dfQueens20032019.describe("Sale Price").show()

+-------+------------------+
|summary|        Sale Price|
+-------+------------------+
|  count|            481002|
|   mean|411387.60475216317|
| stddev| 2796254.854569319|
|    min|                 0|
|    max|         524915655|
+-------+------------------+

In [135]:
dfQueens20032019.dtypes

[('Borough', 'string'),
 ('Neighborhood', 'string'),
 ('Building Class Category', 'string'),
 ('Tax Class At Present', 'string'),
 ('Block', 'int'),
 ('Lot', 'int'),
 ('Building Class At Present', 'string'),
 ('Address', 'string'),
 ('Residential Units', 'int'),
 ('Commercial Units', 'int'),
 ('Total Units', 'int'),
 ('Land Square Feet', 'int'),
 ('Gross Square Feet', 'int'),
 ('Year Built', 'int'),
 ('Sale Price', 'int'),
 ('Sale Date', 'date')]

In [136]:
print("Shape of DataFrame: ", (dfQueens20032019.count(), len(dfQueens20032019.columns)))

Shape of DataFrame:  (481002, 16)

### dfStatenIsland20032019

#### Looking for null values

In [137]:
dfStatenIsland20032019null = dfStatenIsland20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [138]:
dfStatenIsland20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfStatenIsland20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+------+------+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present| Block|   Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+------+------+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
| 150780|      150780|                 150780|              150792|150780|150780|                   150792| 150780|           151884|          151884|     151884|          151884|           151884|    156972|    150780|
+-------+------------+-----------------------+--------------------+------+------+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dropping null values

In [139]:
dfStatenIsland20032019 = dfStatenIsland20032019.na.drop()

#### Checking once again

In [140]:
dfStatenIsland20032019null = dfStatenIsland20032019.select('Borough',
 'Neighborhood',
 'Building Class Category',
 'Tax Class At Present',
 'Block',
 'Lot',
 'Building Class At Present',
 'Address',
 'Residential Units',
 'Commercial Units',
 'Total Units',
 'Land Square Feet',
 'Gross Square Feet',
 'Year Built',
 'Sale Price')

In [141]:
dfStatenIsland20032019null.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in dfStatenIsland20032019null.columns]).show()

+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|Borough|Neighborhood|Building Class Category|Tax Class At Present|Block|Lot|Building Class At Present|Address|Residential Units|Commercial Units|Total Units|Land Square Feet|Gross Square Feet|Year Built|Sale Price|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+
|      0|           0|                      0|                   0|    0|  0|                        0|      0|                0|               0|          0|               0|                0|         0|         0|
+-------+------------+-----------------------+--------------------+-----+---+-------------------------+-------+-----------------+----------------+-----------+----------------+-----------------+----------+----------+

#### Dealing with duplicates

In [142]:
print("Counting rows {}".format(dfStatenIsland20032019.count()))

Counting rows 1717848

In [143]:
print("Counting distinct rows {}".format(dfStatenIsland20032019.distinct().count()))

Counting distinct rows 141817

In [144]:
dfStatenIsland20032019 = dfStatenIsland20032019.dropDuplicates()

In [145]:
print("There are {} rows after removing duplicates".format(dfStatenIsland20032019.count()))

There are 141817 rows after removing duplicates

#### Columns

In [146]:
print("There are {} columns in the DataFrame and their names\n {}".format(len(dfStatenIsland20032019.columns),
                                                                         dfStatenIsland20032019.columns))

There are 16 columns in the DataFrame and their names
 ['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class At Present', 'Block', 'Lot', 'Building Class At Present', 'Address', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Sale Price', 'Sale Date']

#### Changing datatypes

In [147]:
dfStatenIsland20032019.printSchema()

root
 |-- Borough: double (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: double (nullable = true)
 |-- Lot: double (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: double (nullable = true)
 |-- Commercial Units: double (nullable = true)
 |-- Total Units: double (nullable = true)
 |-- Land Square Feet: double (nullable = true)
 |-- Gross Square Feet: double (nullable = true)
 |-- Year Built: double (nullable = true)
 |-- Sale Price: double (nullable = true)
 |-- Sale Date: timestamp (nullable = true)

In [148]:
dfStatenIsland20032019 = dfStatenIsland20032019.withColumn("Borough", col("Borough").cast("int")) \
                 .withColumn("Block" , col("Block").cast("int")) \
                 .withColumn("Lot" , col("Lot").cast("int")) \
                 .withColumn("Lot" , col("Borough").cast("int")) \
                 .withColumn("Residential Units" , col("Residential Units").cast("int")) \
                 .withColumn("Commercial Units" , col("Commercial Units").cast("int")) \
                 .withColumn("Total Units" , col("Total Units").cast("int")) \
                 .withColumn("Land Square Feet" , col("Land Square Feet").cast("int")) \
                 .withColumn("Gross Square Feet" , col("Gross Square Feet").cast("int")) \
                 .withColumn("Year Built" , col("Year Built").cast("int")) \
                 .withColumn("Sale Price" , col("Sale Price").cast("int")) \
                 .withColumn("Sale Date" , col("Sale Date").cast(DateType()))

In [149]:
dfStatenIsland20032019.printSchema()

root
 |-- Borough: integer (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Building Class Category: string (nullable = true)
 |-- Tax Class At Present: string (nullable = true)
 |-- Block: integer (nullable = true)
 |-- Lot: integer (nullable = true)
 |-- Building Class At Present: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Residential Units: integer (nullable = true)
 |-- Commercial Units: integer (nullable = true)
 |-- Total Units: integer (nullable = true)
 |-- Land Square Feet: integer (nullable = true)
 |-- Gross Square Feet: integer (nullable = true)
 |-- Year Built: integer (nullable = true)
 |-- Sale Price: integer (nullable = true)
 |-- Sale Date: date (nullable = true)

#### Changing numeric values Borough to a name

In [150]:
dfStatenIsland20032019.withColumn("Borough", when(col("Borough") == 5,
                                                 lit("StatenIsland")).otherwise(lit("StatenIsland")))

DataFrame[Borough: string, Neighborhood: string, Building Class Category: string, Tax Class At Present: string, Block: int, Lot: int, Building Class At Present: string, Address: string, Residential Units: int, Commercial Units: int, Total Units: int, Land Square Feet: int, Gross Square Feet: int, Year Built: int, Sale Price: int, Sale Date: date]

In [151]:
dfStatenIsland20032019 = dfStatenIsland20032019.select("Borough").distinct().show()

+-------+
|Borough|
+-------+
|      5|
+-------+

#### Summary

In [152]:
dfStatenIsland20032019.describe("Block").show()

+-------+-----------------+
|summary|            Block|
+-------+-----------------+
|  count|           141817|
|   mean|3282.924875014984|
| stddev|2358.560344803393|
|    min|                1|
|    max|             8050|
+-------+-----------------+

In [153]:
dfStatenIsland20032019.describe("Lot").show()

+-------+------+
|summary|   Lot|
+-------+------+
|  count|141817|
|   mean|   5.0|
| stddev|   0.0|
|    min|     5|
|    max|     5|
+-------+------+

In [154]:
dfStatenIsland20032019.describe("Residential Units").show()

+-------+-----------------+
|summary|Residential Units|
+-------+-----------------+
|  count|           141817|
|   mean|1.348843932673798|
| stddev|6.192245987484058|
|    min|                0|
|    max|              693|
+-------+-----------------+

In [155]:
dfStatenIsland20032019.describe("Commercial Units").show()

+-------+------------------+
|summary|  Commercial Units|
+-------+------------------+
|  count|            141817|
|   mean|0.1604885168914869|
| stddev| 15.69709056952263|
|    min|                 0|
|    max|              4964|
+-------+------------------+

In [156]:
dfStatenIsland20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            141817|
|   mean|1.5096638625834702|
| stddev|16.864337254330138|
|    min|                 0|
|    max|              4964|
+-------+------------------+

In [157]:
dfStatenIsland20032019.describe("Land Square Feet").show()

+-------+-----------------+
|summary| Land Square Feet|
+-------+-----------------+
|  count|           141817|
|   mean|6471.141238356474|
| stddev|76092.62175183729|
|    min|                0|
|    max|         11076557|
+-------+-----------------+

In [158]:
dfStatenIsland20032019.describe("Gross Square Feet").show()

+-------+------------------+
|summary| Gross Square Feet|
+-------+------------------+
|  count|            141817|
|   mean|2022.5784214868456|
| stddev| 9061.274894152346|
|    min|                 0|
|    max|            881000|
+-------+------------------+

In [159]:
dfStatenIsland20032019.describe("Total Units").show()

+-------+------------------+
|summary|       Total Units|
+-------+------------------+
|  count|            141817|
|   mean|1.5096638625834702|
| stddev|16.864337254330138|
|    min|                 0|
|    max|              4964|
+-------+------------------+

In [160]:
dfStatenIsland20032019.describe("Sale Price").show()

+-------+------------------+
|summary|        Sale Price|
+-------+------------------+
|  count|            141817|
|   mean|311856.20149911504|
| stddev| 933098.6010291488|
|    min|                 0|
|    max|         189442300|
+-------+------------------+

In [161]:
dfStatenIsland20032019.dtypes

[('Borough', 'int'),
 ('Neighborhood', 'string'),
 ('Building Class Category', 'string'),
 ('Tax Class At Present', 'string'),
 ('Block', 'int'),
 ('Lot', 'int'),
 ('Building Class At Present', 'string'),
 ('Address', 'string'),
 ('Residential Units', 'int'),
 ('Commercial Units', 'int'),
 ('Total Units', 'int'),
 ('Land Square Feet', 'int'),
 ('Gross Square Feet', 'int'),
 ('Year Built', 'int'),
 ('Sale Price', 'int'),
 ('Sale Date', 'date')]

In [162]:
print("Shape of DataFrame: ", (dfStatenIsland20032019.count(), len(dfStatenIsland20032019.columns)))

Shape of DataFrame:  (141817, 16)

# Analysis

In [174]:
SelColdfBronx20032019 = dfBronx20032019.select("Borough", "Neighborhood", 
                       "Building Class Category","Building Class At Present",
                      "Sale Price", "Sale Date")

In [176]:
dfBronx20032019BCD =  SelColdfBronx20032019.join(BuildingClassification,
                     SelColdfBronx20032019["Building Class At Present"] == BuildingClassification["Building Code"], "inner") 
dfBronx20032019BCD.columns

['Borough',
 'Neighborhood',
 'Building Class Category',
 'Building Class At Present',
 'Sale Price',
 'Sale Date',
 'Building Code',
 'Description']

In [204]:
dfBronx20032019BCD.select('Borough',
 'Neighborhood',
 'Building Class Category',
'Description',
 'Sale Price'
 ).show(20,30)

+-------+-------------------------+------------------------------+------------------------------+----------+
|Borough|             Neighborhood|       Building Class Category|                   Description|Sale Price|
+-------+-------------------------+------------------------------+------------------------------+----------+
|  Bronx|BATHGATE                 |29  COMMERCIAL GARAGES     ...|        UNLICENSED PARKING LOT|     25000|
|  Bronx|BAYCHESTER               |01  ONE FAMILY HOMES       ...|ONE FAMILY ATTACHED OR SEMI...|    236000|
|  Bronx|BAYCHESTER               |01  ONE FAMILY HOMES       ...|ONE FAMILY ATTACHED OR SEMI...|    170533|
|  Bronx|BAYCHESTER               |01  ONE FAMILY HOMES       ...|ONE STORY - PERMANENT LIVIN...|         0|
|  Bronx|BAYCHESTER               |02  TWO FAMILY HOMES       ...|              TWO FAMILY BRICK|    350000|
|  Bronx|BAYCHESTER               |29  COMMERCIAL GARAGES     ...|          MISCELLANEOUS GARAGE|    600000|
|  Bronx|BELMONT                  |02  TWO FAMILY HOMES       ...|                THREE FAMILIES|    283250|
|  Bronx|BRONXDALE                |03  THREE FAMILY HOMES     ...|                THREE FAMILIES|    485000|
|  Bronx|CASTLE HILL/UNIONPORT    |02  TWO FAMILY HOMES       ...|              TWO FAMILY FRAME|    345000|
|  Bronx|CASTLE HILL/UNIONPORT    |02  TWO FAMILY HOMES       ...|              TWO FAMILY FRAME|         0|
|  Bronx|CITY ISLAND              |01  ONE FAMILY HOMES       ...|ONE STORY - PERMANENT LIVIN...|         0|
|  Bronx|COUNTRY CLUB             |01  ONE FAMILY HOMES       ...|ONE STORY - PERMANENT LIVIN...|    125000|
|  Bronx|CROTONA PARK             |29  COMMERCIAL GARAGES     ...|        UNLICENSED PARKING LOT|    177500|
|  Bronx|EAST TREMONT             |03  THREE FAMILY HOMES     ...|                THREE FAMILIES|    377088|
|  Bronx|EAST TREMONT             |03  THREE FAMILY HOMES     ...|                THREE FAMILIES|    175000|
|  Bronx|EAST TREMONT             |03  THREE FAMILY HOMES     ...|                THREE FAMILIES|         0|
|  Bronx|HIGHBRIDGE/MORRIS HEIGHTS|02  TWO FAMILY HOMES       ...|              TWO FAMILY FRAME|    273000|
|  Bronx|HIGHBRIDGE/MORRIS HEIGHTS|02  TWO FAMILY HOMES       ...|              TWO FAMILY FRAME|    205000|
|  Bronx|HIGHBRIDGE/MORRIS HEIGHTS|29  COMMERCIAL GARAGES     ...|     ONE STORY RETAIL BUILDING|    200000|
|  Bronx|HIGHBRIDGE/MORRIS HEIGHTS|36  OUTDOOR RECREATIONAL FA...|ELEVATOR APT; SEMI-FIREPROO...|   1000000|
+-------+-------------------------+------------------------------+------------------------------+----------+
only showing top 20 rows

### Calculating a few statistical method

In [218]:
dfBronx20032019BCD.groupBy("Neighborhood") \
    .agg(sum("Sale Price").alias("Sum Of Sale Price"), \
         avg("Sale Price").alias("Avg of Sale Price"), \
         max("Sale Price").alias("Max Sale Price"), \
         min("Sale Price").alias("Min Sale Price") \
     ) \
    .show(100,30)

+-------------------------+-----------------+------------------+--------------+--------------+
|             Neighborhood|Sum Of Sale Price| Avg of Sale Price|Max Sale Price|Min Sale Price|
+-------------------------+-----------------+------------------+--------------+--------------+
|SCHUYLERVILLE/PELHAM BAY |       1266838399| 338274.6058744993|      41000000|             0|
|MOUNT HOPE/MOUNT EDEN    |       1605080313| 1325417.269199009|      84500000|             0|
|    CASTLE HILL/UNIONPORT|        403563060| 710498.3450704225|      87900000|             0|
|BELMONT                  |        839992082| 591543.7197183098|      30000000|             0|
|     PELHAM PARKWAY NORTH|        160358732| 379996.9952606635|       8500000|             0|
|HUNTS POINT              |        996317567| 810673.3661513425|     114000000|             0|
|                  FORDHAM|        365115727|1367474.6329588015|      19550000|             0|
| CITY ISLAND-PELHAM STRIP|                0|               0.0|             0|             0|
|PELHAM GARDENS           |        286554940| 327117.5114155251|      17753272|             0|
|MORRISANIA/LONGWOOD      |       2883861881| 476986.7484287132|      71314286|             0|
|CASTLE HILL/UNIONPORT    |       1094162727|395718.88860759494|     130000000|             0|
|MELROSE/CONCOURSE        |       2245131374| 696596.7651256593|      53630358|             0|
|BRONX PARK               |         91004374|1083385.4047619049|      17050000|             0|
|             CROTONA PARK|        112326729| 645555.9137931034|      13971105|             0|
|WILLIAMSBRIDGE           |       2055129445| 314239.9762996942|      21150000|             0|
|               BAYCHESTER|        520508035| 355781.2952836637|      12050000|             0|
|     MORRIS PARK/VAN NEST|        402702354|505907.47989949747|      89000000|             0|
|                 BATHGATE|        181657445| 807366.4222222222|      19900000|             0|
|KINGSBRIDGE HTS/UNIV HTS |       1333575831| 688474.8740320082|     110000000|             0|
|MOTT HAVEN/PORT MORRIS   |       1684603557| 822560.3305664062|      68234000|             0|
|WAKEFIELD                |       1170459706| 300734.7651593011|      20886858|             0|
|     PELHAM PARKWAY SOUTH|        179147499| 565134.0662460568|      22500000|             0|
|                SOUNDVIEW|        744007690|476928.00641025644|      70936348|             0|
|    MOUNT HOPE/MOUNT EDEN|        568530945|2008943.2685512367|      38100000|             0|
|CO-OP CITY               |         37978752| 513226.3783783784|       6350000|             0|
|MORRIS PARK/VAN NEST     |       1270984502| 335175.2378691983|      99534719|             0|
| KINGSBRIDGE HTS/UNIV HTS|        291513970| 743658.0867346938|      14900000|             0|
|BRONX-UNKNOWN            |         27705001|  710384.641025641|      17000000|             0|
|              WESTCHESTER|        388681339| 835873.8473118279|     115000000|             0|
|                BRONXDALE|        414716588| 405789.2250489237|      25000000|             0|
|           WILLIAMSBRIDGE|        606016787|401867.89588859415|      16500000|             0|
|WESTCHESTER              |       1025059700| 424104.1373603641|      27500000|             0|
|BEDFORD PARK/NORWOOD     |       2466484699| 772466.2383338553|      18825000|             0|
|  KINGSBRIDGE/JEROME PARK|        330356577| 629250.6228571428|      20000000|             0|
|BRONXDALE                |       1482800356| 316499.5423692636|      51250000|             0|
|KINGSBRIDGE/JEROME PARK  |       1641670119|478342.10926573427|     132925000|             0|
| SCHUYLERVILLE/PELHAM BAY|        385565033|471927.82496940024|      75000000|             0|
|                FIELDSTON|        102993212| 872823.8305084746|       6250000|             0|
|CITY ISLAND              |        340015951|284532.17656903766|       6000000|             0|
|VAN CORTLANDT PARK       |         24630225|       307877.8125|       4825000|             0|
|              CITY ISLAND|        126751496| 403667.1847133758|       5000000|             0|
|RIVERDALE                |       2969739507| 351823.1852861035|      89000000|             0|
|              THROGS NECK|        448500972| 379442.4467005076|      22753244|             0|
|               EAST RIVER|         11200000|            1.12E7|      11200000|      11200000|
|PELHAM BAY               |           160010|           80005.0|        160000|            10|
|      MORRISANIA/LONGWOOD|        971785406| 842101.7383015598|      22500000|             0|
|SOUNDVIEW                |       2600419987| 367914.5425863045|     133400000|             0|
|           PELHAM GARDENS|        128672786| 579607.1441441441|      37597000|             0|
|              HUNTS POINT|        616025968|2360252.7509578546|      70000000|             0|
|COUNTRY CLUB             |        749204112|286612.13159908185|       2100000|             0|
|WOODLAWN                 |        347605494| 293833.8918005072|      14500000|             0|
|EAST RIVER               |          7000001|        1750000.25|       5000000|             0|
|FIELDSTON                |        382379393|       611807.0288|      15000000|             0|
|BAYCHESTER               |       1952715057| 302981.3897595035|     133000000|             0|
|EAST TREMONT             |       1205118549| 621515.4971634863|      36000000|             0|
|               BRONX PARK|          5795011| 827858.7142857143|       3750000|             0|
|             COUNTRY CLUB|        228971530| 375363.1639344262|       1535000|             0|
|     BEDFORD PARK/NORWOOD|        591810542| 984709.7204658901|      20550000|             0|
|   MOTT HAVEN/PORT MORRIS|       1081165731|2261852.9937238493|     125400000|             0|
|THROGS NECK              |       1254834896|267498.37902366236|      35250000|             0|
|                RIVERDALE|        809549516| 541867.1459170013|      86375000|             0|
|BATHGATE                 |        659953919| 531792.0378726834|      86260000|             0|
|                 WOODLAWN|         78568201| 332916.1059322034|       3240000|             0|
|CITY ISLAND-PELHAM STRIP |         26082365| 606566.6279069767|       5200000|             0|
|FORDHAM                  |       1599689426| 1146730.771326165|      43000000|             0|
|                  BELMONT|        297138395| 1129803.783269962|      26500000|             0|
|       VAN CORTLANDT PARK|          1434400|          143440.0|        270000|             0|
|                WAKEFIELD|        356845683|   464642.81640625|      29035665|             0|
|               CO-OP CITY|         22033000|         1001500.0|      14900000|             0|
|              PARKCHESTER|        290853556| 240374.8396694215|      10000000|             0|
|HIGHBRIDGE/MORRIS HEIGHTS|       2109284119| 768689.5477405248|     137298279|             0|
|PARKCHESTER              |       1181919571|160543.27234447162|      38000000|             0|
|             EAST TREMONT|        388380616| 901115.1183294663|      44375000|             0|
|PELHAM PARKWAY NORTH     |        575193171|291384.58510638296|      12500000|             0|
|PELHAM PARKWAY SOUTH     |       1278181773|  703457.222344524|      98533280|             0|
|CROTONA PARK             |        481934329|523841.66195652174|      33407172|             0|
|        MELROSE/CONCOURSE|        819334298|1367836.8914858096|     115224210|             0|
+-------------------------+-----------------+------------------+--------------+--------------+

### Grouping by Neighborhood, Building Class Category and Description

In [205]:
GroupingSalesBronx20032019 = dfBronx20032019BCD.groupBy('Borough',
                                                     'Neighborhood',
                                                     'Building Class Category',
                                                     'Description').sum('Sale Price')
GroupingSalesBronx20032019.show()

+-------+--------------------+-----------------------+--------------------+---------------+
|Borough|        Neighborhood|Building Class Category|         Description|sum(Sale Price)|
+-------+--------------------+-----------------------+--------------------+---------------+
|  Bronx|WESTCHESTER      ...|   01  ONE FAMILY HO...|TWO STORIES - DET...|       40483209|
|  Bronx|BELMONT          ...|   41  TAX CLASS 4 -...| OTHER MISCELLANEOUS|        2150385|
|  Bronx|BELMONT          ...|   31  COMMERCIAL VA...|OVER SIX FAMILIES...|         500000|
|  Bronx|BRONXDALE        ...|   22  STORE BUILDIN...|ONE STORY RETAIL ...|       65269637|
|  Bronx|WILLIAMSBRIDGE   ...|   01  ONE FAMILY DW...|PRIMARILY 1 FAMIL...|        3003843|
|  Bronx|HUNTS POINT      ...|   29  COMMERCIAL GA...|UNLICENSED PARKIN...|       10594310|
|  Bronx|WESTCHESTER      ...|   02  TWO FAMILY DW...|TWO FAMILY CONVER...|        5746600|
|  Bronx|BRONX PARK       ...|   06  TAX CLASS 1 -...|GARAGE; RESIDENTI...|              0|
|  Bronx|KINGSBRIDGE HTS/U...|   07  RENTALS - WAL...|WALK-UP APT. OVER...|      200036924|
|  Bronx|SCHUYLERVILLE/PEL...|   22  STORE BUILDIN...|PREDOMINANT RETAI...|        2749500|
|  Bronx|        COUNTRY CLUB|   05 TAX CLASS 1 VA...|ZONED COMMERCIAL ...|              0|
|  Bronx|EAST TREMONT     ...|   30  WAREHOUSES   ...| FIREPROOF WAREHOUSE|        2760000|
|  Bronx|        CROTONA PARK|   29 COMMERCIAL GAR...|AUTO BODY/COLLISI...|        1520000|
|  Bronx|SCHUYLERVILLE/PEL...|   28  COMMERCIAL CO...|MISCELLANEOUS COM...|         442938|
|  Bronx| MORRISANIA/LONGWOOD|   29 COMMERCIAL GAR...|AUTO BODY/COLLISI...|        5250000|
|  Bronx|      WILLIAMSBRIDGE|   01 ONE FAMILY DWE...|MISCELLANEOUS ONE...|        1164000|
|  Bronx|BATHGATE         ...|   30  WAREHOUSES   ...|MULTI-STORY RETAI...|        8598400|
|  Bronx|         WESTCHESTER|   30 WAREHOUSES    ...|MISCELLANEOUS WAR...|              0|
|  Bronx|           SOUNDVIEW|   07 RENTALS - WALK...|WALK-UP APT. OVER...|       15454000|
|  Bronx|        CROTONA PARK|   14 RENTALS - 4-10...|SINGLE OR MULTIPL...|              0|
+-------+--------------------+-----------------------+--------------------+---------------+
only showing top 20 rows

### Grouping and perform analysis using window functions

In [206]:
GroupSalesBronx20032019 = dfBronx20032019BCD.groupBy('Borough','Neighborhood','Building Class Category').sum('Sale Price')

In [209]:
GroupSalesBronx20032019 = GroupSalesBronx20032019.select('Borough',
                               'Neighborhood',
                               'Building Class Category',
                               col('sum(Sale Price)').alias("Sale Price"))
                                
GroupSalesBronx20032019.show(truncate=False)

+-------+-------------------------+--------------------------------------------+----------+
|Borough|Neighborhood             |Building Class Category                     |Sale Price|
+-------+-------------------------+--------------------------------------------+----------+
|Bronx  |BAYCHESTER               |02 TWO FAMILY DWELLINGS                     |64393655  |
|Bronx  |COUNTRY CLUB             |06 TAX CLASS 1 - OTHER                      |55000     |
|Bronx  |MOUNT HOPE/MOUNT EDEN    |05 TAX CLASS 1 VACANT LAND                  |0         |
|Bronx  |CROTONA PARK             |32 HOSPITAL AND HEALTH FACILITIES           |0         |
|Bronx  |WESTCHESTER              |21 OFFICE BUILDINGS                         |11987500  |
|Bronx  |WAKEFIELD                |27  FACTORIES                               |7590000   |
|Bronx  |SOUNDVIEW                |46 CONDO STORE BUILDINGS                    |28292587  |
|Bronx  |MORRIS PARK/VAN NEST     |32 HOSPITAL AND HEALTH FACILITIES           |0         |
|Bronx  |BRONX PARK               |14  RENTALS - 4-10 UNIT                     |840000    |
|Bronx  |FIELDSTON                |06  TAX CLASS 1 - OTHER                     |0         |
|Bronx  |MOTT HAVEN/PORT MORRIS   |02  TWO FAMILY HOMES                        |55757774  |
|Bronx  |MORRIS PARK/VAN NEST     |01  ONE FAMILY DWELLINGS                    |48269518  |
|Bronx  |KINGSBRIDGE/JEROME PARK  |01 ONE FAMILY DWELLINGS                     |17132650  |
|Bronx  |BELMONT                  |03  THREE FAMILY HOMES                      |55631389  |
|Bronx  |BEDFORD PARK/NORWOOD     |03 THREE FAMILY DWELLINGS                   |22845274  |
|Bronx  |CITY ISLAND              |29  COMMERCIAL GARAGES                      |1471122   |
|Bronx  |HUNTS POINT              |40  SELECTED GOVERNMENTAL FACILITIES        |1690000   |
|Bronx  |BEDFORD PARK/NORWOOD     |31 COMMERCIAL VACANT LAND                   |1000      |
|Bronx  |WAKEFIELD                |07  RENTALS - WALKUP APARTMENTS             |120116227 |
|Bronx  |SOUNDVIEW                |01  ONE FAMILY DWELLINGS                    |28495219  |
+-------+-------------------------+--------------------------------------------+----------+
only showing top 20 rows

In [ ]:
## using UDF (put  example and remove digit at the beginning) & analytical functions
#https://sparkbyexamples.com/pyspark/pyspark-groupby-explained-with-example/
# https://sparkbyexamples.com/pyspark/pyspark-window-functions/
# https://sparkbyexamples.com/pyspark/pyspark-udf-user-defined-function/

In [163]:
# using inspirations to run this project from .doc files 
# https://pub.towardsai.net/exploratory-data-analysis-eda-using-pyspark-b43e71fcec9f
#https://dev.to/kinyungu_denis/apache-pyspark-for-data-engineering-3phi